[submodule "themes/hugo-texify2"]
	path = themes/hugo-texify2
	url = https://github.com/weastur/hugo-texify2.git
[submodule "themes/Hugo-Octopress"]
	path = themes/Hugo-Octopress
	url = https://github.com/parsiya/Hugo-Octopress
